/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
/* line 4, ../sass/general_mixins.scss */
.nav_inline ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 9, ../sass/general_mixins.scss */
.nav_inline ul li {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 14, ../sass/general_mixins.scss */
.nav_inline ul li a {
  display: block;
  padding: 5px;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 29, 2012 */
@font-face {
  font-family: 'OstrichSansBlack';
  src: url("/font/ostrich-black-webfont.eot");
  src: url("/font/ostrich-black-webfont.eot?#iefix") format("embedded-opentype"), url("/font/ostrich-black-webfont.woff") format("woff"), url("/font/ostrich-black-webfont.ttf") format("truetype"), url("/font/ostrich-black-webfont.svg#OstrichSansBlack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LavanderiaRegular';
  src: url("/font/lavanderia_regular-webfont.eot");
  src: url("/font/lavanderia_regular-webfont.eot?#iefix") format("embedded-opentype"), url("/font/lavanderia_regular-webfont.woff") format("woff"), url("/font/lavanderia_regular-webfont.ttf") format("truetype"), url("/font/lavanderia_regular-webfont.svg#LavanderiaRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OstrichSansBold';
  src: url("/font/ostrich-bold-webfont.eot");
  src: url("/font/ostrich-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/font/ostrich-bold-webfont.woff") format("woff"), url("/font/ostrich-bold-webfont.ttf") format("truetype"), url("/font/ostrich-bold-webfont.svg#OstrichSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RighteousRegular';
  src: url("/font/righteous-regular-webfont.eot");
  src: url("/font/righteous-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/font/righteous-regular-webfont.woff") format("woff"), url("/font/righteous-regular-webfont.ttf") format("truetype"), url("/font/righteous-regular-webfont.svg#RighteousRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 72, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 74, ../sass/style.scss */
html {
  background: white url(/img/html_background.png) 0 0 repeat;
  color: #6f6f6f;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* line 83, ../sass/style.scss */
html body {
  zoom: 1;
  background-image: url("/img/background_stripe.png"), url("/img/background_stripe.png");
  background-repeat: no-repeat;
  background-position: 450px 800px, 120px -235px;
  margin: 0;
  padding: 0;
}
/* line 23, ../sass/general_mixins.scss */
html body:before, html body:after {
  content: "";
  display: table;
}
/* line 24, ../sass/general_mixins.scss */
html body:after {
  clear: both;
}
/* line 92, ../sass/style.scss */
html body #container {
  zoom: 1;
  background: url('/img/assets-s53786f8237.png') 0 -1225px no-repeat;
  min-width: 1175px;
}
/* line 23, ../sass/general_mixins.scss */
html body #container:before, html body #container:after {
  content: "";
  display: table;
}
/* line 24, ../sass/general_mixins.scss */
html body #container:after {
  clear: both;
}
/* line 97, ../sass/style.scss */
html body #container > header {
  float: left;
  height: 450px;
  position: relative;
  width: 100%;
  z-index: 10;
}
/* line 105, ../sass/style.scss */
html body #container > header hgroup {
  -webkit-box-shadow: 4px 4px 0 #6f6f6f;
  -moz-box-shadow: 4px 4px 0 #6f6f6f;
  box-shadow: 4px 4px 0 #6f6f6f;
  -webkit-transform: rotate(52deg);
  -moz-transform: rotate(52deg);
  transform: rotate(52deg);
  background: #ff7e00;
  border: 4px solid #FFF;
  border-width: 0 4px 4px 4px;
  display: block;
  margin: 0;
  margin-top: -75px;
  padding: 10px;
  position: relative;
  width: 400px;
  height: 245px;
}
/* line 123, ../sass/style.scss */
html body #container > header hgroup h1 {
  -webkit-transform: rotate(-52deg);
  -moz-transform: rotate(-52deg);
  transform: rotate(-52deg);
  background: url('/img/assets-s53786f8237.png') 0 0 no-repeat;
  bottom: -15px;
  color: transparent;
  display: block;
  position: absolute;
  right: 5px;
  min-height: 225px;
  min-width: 225px;
}
/* line 138, ../sass/style.scss */
html body #container > header p {
  zoom: 1;
  display: block;
  left: 440px;
  position: absolute;
  top: 15px;
  width: 365px;
}
/* line 23, ../sass/general_mixins.scss */
html body #container > header p:before, html body #container > header p:after {
  content: "";
  display: table;
}
/* line 24, ../sass/general_mixins.scss */
html body #container > header p:after {
  clear: both;
}
/* line 147, ../sass/style.scss */
html body #container > header p span {
  display: block;
  line-height: 1;
}
/* line 153, ../sass/style.scss */
html body #container > header p span:nth-child(1) {
  font-family: OstrichSansBold;
  font-size: 72px;
  font-weight: normal;
  padding-left: 35px;
}
/* line 161, ../sass/style.scss */
html body #container > header p span:nth-child(2) {
  float: left;
  font-family: LavanderiaRegular;
  font-size: 72px;
  font-weight: normal;
  margin-top: -30px;
  padding-left: 100px;
}
/* line 174, ../sass/style.scss */
html body #container > header p span:nth-child(3) {
  float: left;
  font-family: OstrichSansBlack;
  font-size: 60px;
  font-weight: normal;
  padding-left: 15px;
}
/* line 184, ../sass/style.scss */
html body #container > header p span:nth-child(4) {
  color: #ff7e00;
  font-family: LavanderiaRegular;
  font-size: 140px;
  font-weight: normal;
  text-shadow: -3px 3px 0 #ebebeb, -6px 6px 0 #6f6f6f;
  text-transform: capitalize;
}
/* line 202, ../sass/style.scss */
html body #container #main {
  zoom: 1;
  position: relative;
  z-index: 20;
  float: left;
  max-width: 1125px;
  width: 100%;
}
/* line 23, ../sass/general_mixins.scss */
html body #container #main:before, html body #container #main:after {
  content: "";
  display: table;
}
/* line 24, ../sass/general_mixins.scss */
html body #container #main:after {
  clear: both;
}
/* line 211, ../sass/style.scss */
html body #container #main article {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: -5px 5px 0 #6f6f6f;
  -moz-box-shadow: -5px 5px 0 #6f6f6f;
  box-shadow: -5px 5px 0 #6f6f6f;
  background: #ff7e00;
  border: 3px solid #f4f4f4;
  color: #FFF;
  float: left;
  height: 390px;
  margin-top: -110px;
  padding: 20px;
  width: 390px;
}
/* line 220, ../sass/style.scss */
html body #container #main article.primary {
  font-family: RighteousRegular;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  margin-left: 200px;
  padding-top: 65px;
  text-align: center;
}
/* line 231, ../sass/style.scss */
html body #container #main article.primary time span {
  display: block;
}
/* line 234, ../sass/style.scss */
html body #container #main article.primary time .day {
  font-size: 130px;
}
/* line 237, ../sass/style.scss */
html body #container #main article.primary time .day sup {
  font-size: 40px;
}
/* line 241, ../sass/style.scss */
html body #container #main article.primary time .month {
  font-size: 80px;
  text-transform: uppercase;
}
/* line 246, ../sass/style.scss */
html body #container #main article.primary time .year {
  font-size: 40px;
  font-weight: normal;
}
/* line 253, ../sass/style.scss */
html body #container #main article.secondary {
  margin-left: 140px;
  margin-top: 135px;
  overflow: hidden;
  padding: 0;
}
/* line 260, ../sass/style.scss */
html body #container #main article.secondary .map {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ebebeb;
  color: transparent;
  display: block;
  height: 360px;
  margin-left: 12px;
  margin-top: 13px;
  outline: none;
  width: 360px;
}
/* line 274, ../sass/style.scss */
html body #container #main article.tertiary {
  margin-left: 190px;
  margin-top: -40px;
  padding: 85px 45px;
}
/* line 279, ../sass/style.scss */
html body #container #main article.tertiary h2 {
  text-align: center;
  margin-bottom: 0;
}
/* line 285, ../sass/style.scss */
html body #container #main article.tertiary p {
  line-height: 1.6;
  margin-top: 5px;
  text-align: center;
}
/* line 296, ../sass/style.scss */
html body #container #main #map_information {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  background: #FFF;
  color: #000;
  font-size: 12px;
  position: absolute;
  display: none;
  left: 625px;
  padding: 20px;
  top: 110px;
  width: 285px;
}
/* line 57, ../sass/style.scss */
html body #container #main #map_information:after {
  border-color: #FFFFFF transparent;
  border-style: solid;
  border-width: 40px 0 0 40px;
  bottom: -40px;
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  width: 0;
}
/* line 307, ../sass/style.scss */
html body #container #main #map_information h3 {
  font-family: RighteousRegular;
  font-size: 18px;
  font-weight: normal;
  margin: 5px 0;
}
/* line 314, ../sass/style.scss */
html body #container #main #map_information address {
  font-style: normal;
}
/* line 318, ../sass/style.scss */
html body #container #main #map_information tel {
  font-weight: bold;
}
/* line 322, ../sass/style.scss */
html body #container #main #map_information .streetview {
  border: 2px solid #ff7e00;
  float: right;
  width: 94px;
}
/* line 327, ../sass/style.scss */
html body #container #main #map_information .streetview img {
  display: block;
}
/* line 332, ../sass/style.scss */
html body #container #main #map_information a.button {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ff7e00;
  color: #FFF;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin-top: 5px;
}
/* line 344, ../sass/style.scss */
html body #container #main #map_information a.close {
  background: url('/img/assets-s53786f8237.png') 0 -3365px;
  color: transparent;
  display: block;
  overflow: hidden;
  position: absolute;
  right: -15px;
  top: -15px;
  height: 44px;
  width: 44px;
}
/* line 359, ../sass/style.scss */
html body #container > footer {
  zoom: 1;
  float: left;
  margin-top: -170px;
  position: relative;
  padding-bottom: 200px;
  width: 100%;
  z-index: 20;
}
/* line 23, ../sass/general_mixins.scss */
html body #container > footer:before, html body #container > footer:after {
  content: "";
  display: table;
}
/* line 24, ../sass/general_mixins.scss */
html body #container > footer:after {
  clear: both;
}
/* line 369, ../sass/style.scss */
html body #container > footer nav {
  float: left;
  margin-left: 700px;
}
/* line 373, ../sass/style.scss */
html body #container > footer nav ul {
  zoom: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 400px;
}
/* line 23, ../sass/general_mixins.scss */
html body #container > footer nav ul:before, html body #container > footer nav ul:after {
  content: "";
  display: table;
}
/* line 24, ../sass/general_mixins.scss */
html body #container > footer nav ul:after {
  clear: both;
}
/* line 380, ../sass/style.scss */
html body #container > footer nav ul li {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: -5px 5px 0 #6f6f6f;
  -moz-box-shadow: -5px 5px 0 #6f6f6f;
  box-shadow: -5px 5px 0 #6f6f6f;
  background: #ff7e00;
  border: 3px solid #f4f4f4;
  color: #FFF;
  float: left;
  margin: 0;
  margin: 0 25px;
  width: 110px;
  height: 110px;
  overflow: hidden;
  padding: 0;
}
/* line 393, ../sass/style.scss */
html body #container > footer nav ul li:nth-child(1) {
  margin-left: 0;
}
/* line 397, ../sass/style.scss */
html body #container > footer nav ul li:nth-child(3) {
  margin-left: 85px;
}
/* line 402, ../sass/style.scss */
html body #container > footer nav ul li:nth-child(3), html body #container > footer nav ul li:nth-child(4) {
  margin-top: -10px;
}
/* line 406, ../sass/style.scss */
html body #container > footer nav ul li:hover {
  border-color: #ff7e00;
  background: #f4f4f4;
}
/* line 411, ../sass/style.scss */
html body #container > footer nav ul li a {
  background-repeat: no-repeat;
  color: transparent;
  display: block;
  height: 105px;
  width: 105px;
}
/* line 419, ../sass/style.scss */
html body #container > footer nav ul li a.twitter {
  background: url('/img/assets-s53786f8237.png') 0 -2945px;
}
/* line 422, ../sass/style.scss */
html body #container > footer nav ul li a.twitter:hover {
  background: url('/img/assets-s53786f8237.png') 0 -3409px;
}
/* line 427, ../sass/style.scss */
html body #container > footer nav ul li a.attendees {
  background: url('/img/assets-s53786f8237.png') 0 -3050px;
}
/* line 430, ../sass/style.scss */
html body #container > footer nav ul li a.attendees:hover {
  background: url('/img/assets-s53786f8237.png') 0 -3514px;
}
/* line 435, ../sass/style.scss */
html body #container > footer nav ul li a.mkhackday {
  background: url('/img/assets-s53786f8237.png') 0 -2840px;
}
/* line 438, ../sass/style.scss */
html body #container > footer nav ul li a.mkhackday:hover {
  background: url('/img/assets-s53786f8237.png') 0 -3260px;
}
/* line 443, ../sass/style.scss */
html body #container > footer nav ul li a.bitmode {
  background: url('/img/assets-s53786f8237.png') 0 -3155px;
}
/* line 446, ../sass/style.scss */
html body #container > footer nav ul li a.bitmode:hover {
  background: #FFF;
  background: url('/img/assets-s53786f8237.png') 0 -3619px;
}
