/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "html5_reset";
@import "css3";
@import "general_mixins";
@import "fonts";

$tweetup_orange: #ff7e00;
$tweetup_gray: #6f6f6f;

@mixin circle{
	@include border-radius(50%);
	@include box-shadow(-5px, 5px, 0, $tweetup_gray);
	background: $tweetup_orange;
	border: 3px solid #FFF;
}


html{

	background: #FFF url(/img/html_background.png) 0 0 repeat;
	color: $tweetup_gray;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;


	body{

		> header{
			h1{
				color: transparent;

			}

			p{
				span{

					&:nth-child(1){
						font-family: OstrichSansBold;
						font-size: 72px;
						font-weight: normal;
					}

					&:nth-child(2){
						font-family: LavanderiaRegular;
						font-size: 72px;
						font-weight: normal;
					}

					&:nth-child(3){
						font-family: OstrichSansBlack;
						font-size: 60px;
						font-weight: normal;
					}

					&:nth-child(4){
						color: $tweetup_orange;

						font-family: LavanderiaRegular;
						font-size: 140px;
						font-weight: normal;

						text-shadow: -3px 3px 0 #FFF,  -6px 6px 0 $tweetup_gray;
						text-transform: capitalize;
					}
				}
			}
		}

		#main{

			article{
				@include circle;

				color: #FFF;
				padding: 10%;

				height: 250px;
				width: 250px;

				&.primary{
					font-family: RighteousRegular;
					font-size: 30px;
					font-weight: normal;
					line-height: 1;
					text-align: center;

					time{
						span{
							display: block;
						}
						.day{
							font-size: 130px;
							
							sup{
								font-size: 40px;
							}
						}
						.month{
							font-size: 80px;
							text-transform: uppercase;
						}

						.year{
							font-size: 40px;
							font-weight: normal;
						}
					}
				}

				&.secondary{

				}

				&.tertiary{

				}
			}
		}

		> footer{

			nav{

				ul{
					list-style-type: none;
					margin: 0;
					padding: 0;

					li{
						@include circle;
 
						float: left;
						margin: 0;
						padding: 10%;

					}
				}
			}
		}
	}
}
